# dependencies
node_modules/
api/node_modules/
.pnp
.pnp.js

# testing
coverage/
api/coverage/

# production
build/
api/build/
dist/
api/dist/

# misc
.DS_Store
Thumbs.db
*.log
*.tmp

# dotenv and secrets
.env
*.env
api/.env
api/*.env

# IDE/editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# npm/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

guide.txt